let
  host = "ssh-ed25519 REPLACE_WITH_HOST_PUBLIC_KEY root@my-router";
in
{
  "rwth-password.age".publicKeys = [ host ];
  "rwth-hpc-password.age".publicKeys = [ host ];
  "rwth-totp-secret.age".publicKeys = [ host ];
  "rwth-hpc-totp-secret.age".publicKeys = [ host ];
  "subscription-sources.age".publicKeys = [ host ];
}
